.example-block {
    height: 480px;
    width: 100%;
    box-shadow: 2px 2px 10px #080;
    margin: 30px;
    
     }
    

.list{   
    margin: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.list>li{
    background: url('../img/geo.jpg') left/auto 70% no-repeat;
    padding-left: 15px;
}
